<%- include('../partials/header') %>
  <main>
    <div class="ui segment">
      <h1>Sign Up Route</h1>
      <p>Sign Up</p>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>

  </body>
</html>