<%- include('../partials/header')%>
<main>

</main>
<div class="ui segment">
<h1>Users Page</h1>
    <h4>
        Faça Login
    </h4>
    <p>
        <a class="item" href="/users/signin">
            Signin 
        </a>
    </p>
    <p>
        <a class="item" href="/users/signup">
            Signup 
        </a>
    </p>
</div>

<%- include('../partials/footer')%>
 </body>
</html>